node_modules
build
.eslintrc.js.bak
src/lib/src/patches/pouchdb-utils
esbuild.config.mjs
rollup.config.js
src/lib/test
src/lib/src/cli
main.js
src/lib/apps/webpeer/dist
src/lib/apps/webpeer/svelte.config.js