.added {
    color: black;
    background-color: white;
}
.normal {
    color: lightgray;
}
.deleted {
    color: white;
    background-color: black;
    /* text-decoration: line-through; */
}
.op-scrollable {
    overflow-y: scroll;
    /* min-height: 280px; */
    max-height: 280px;
}
.op-pre {
    white-space: pre-wrap;
}
