.added {
    color: black;
    background-color: white;
}
.normal {
    color: lightgray;
}
.deleted {
    color: white;
    background-color: black;
    /* text-decoration: line-through; */
}
.op-scrollable {
    overflow-y: scroll;
    /* min-height: 280px; */
    max-height: 280px;
    user-select: text;
}
.op-pre {
    white-space: pre-wrap;
}
.op-warn {
    border: 1px solid salmon;
    padding: 2px;
    border-radius: 4px;
}
.syncstatusbar {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}
